<h3>Record {{ id }}</h3>
<div class="small-6 columns">
	<table>
		<tr>
			<td>Title</td>
			<td>{{ title }}</td>
		</tr>
		<tr>
			<td>Value</td>
			<td>{{ value }}</td>
		</tr>
	</table>
</div>
<div class="small-6 columns">
	{{#each comment in this.comments}}
		{{ comment.id }}
		<h5>Author: {{ comment.author.name }}</h5>
		<p>Text: {{ comment.text }}</p>
	{{ else }}
		<h5>No Comments </h5>
	{{/each}}
</div>
