<h3>Record {{ id }}</h3>
<div class="small-6 columns">
	<table>
		<tr>
			<td>Title</td>
			<td>{{ title }}</td>
		</tr>
		<tr>
			<td>Value</td>
			<td>{{ value }}</td>
		</tr>
	</table>
</div>
<div class="small-6 columns">
	{{#each comment in this.comments}}
		<h5>Author: {{#linkTo "user" this}}{{ comment.user.name }}{{/linkTo}}</h5>
		<p {{bindAttr class="isEditing:editing"}}>
			{{#if isEditing}}
				<input class='edit'>
			{{else}}
			Text: <span {{action "editComment" on="doubleClick"}}>{{ comment.text }}</span>
			{{/if}}
		</p>
	{{ else }}
		<h5>No Comments </h5>
	{{/each}}
</div>
